.messageForm {
  position: fixed;
  bottom: 0;
  border: 5px solid white;
  border-radius: 10px;
  width: 990px;
  display: flex;
};

.btn {
  font-size: 20px;
};

.text {
  width: inherit;
  margin-left: 4px;
};

.name {
  width: 20%;
};


@media only screen and (max-width: 1280px) {
  .messageForm {
    width: 610px;
  }
}
