.messageForm {
  position: fixed;
  bottom: 0;
  border: 5px solid white;
  border-radius: 10px;
  width: 990px;
  display: flex;
};

.btn {
  font-size: 20px;
};

.text {
  width: calc(928px);
  margin-left: 4px;
};

.name {
  width: 20%;
};