node_modules
backend/.prettierrc.js
backend/package-lock.json
backend/src/config/token-secret.js
frontend/package-lock.json
.read_json_from_curl.js
readme.txt
backend/.env
frontend/src/modules/moduleTemplate
