$darkPurple: #38307B;

.wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 15px 0 15px 10px;
  .message {
    padding: 5px 10px 20px 10px;
    margin: 0 10px;
    border-radius: 5px;
    background: #d4cbcb;
    position: relative;
    min-width: 50px;
    .name {
      font-weight: 500;
    }
    .time {
      position: absolute;
      right: 9px;
      bottom: 3px;
      font-size: 13px;
      font-weight: 300;
    }
  }
  &:hover {
    background: rgba($darkPurple, 0.05);
  }
}

.selected {
  background: rgba($darkPurple, 0.08);
  &:hover {
    background: rgba($darkPurple, 0.08);
  }
}

.right {
  flex-direction: row-reverse;
}