.chatName {
  line-height: 60px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.renameChatModal {
  .cancelBtn {
    color: #0c30e6;
  }
  
  .renameBtn {
    color: #d60000;
  }
}
