* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    min-height: 100vh;
}

html {
    background: url("./img/aska_4.jpg") no-repeat fixed 100%;
    background-size: 500px 100%;
}

@media screen and (max-width: 900px) {
    html {
        background: linear-gradient(#4d78ff, #f1feff);
    }
}