.logoutBtn.logoutBtn {
	width: 100%;
	margin: 5px 0;
	padding: 0;
	color: #ff0000;
	height: 40px;
	background: #ff00001c;
}

.cancelBtn.cancelBtn {
  color: #0c30e6;
}

.confirmLogoutBtn.confirmLogoutBtn {
  color: #d60000;
}
