.chat {
  display: flex;
  justify-content: flex-end;
  padding-left: 290px;
  .messageList {
    padding-bottom: 66px;
    padding-top: 60px;
    background: #f3f3f3;
    width: 990px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    background: #F9F9FA;
    height: 60px;
    width: 1280px;
    z-index: 888;
    padding-left: 290px;
    border-bottom: 1px solid rgb(228, 228, 228)
  }
}


.topFab {
  position: fixed;
  bottom: 140px;
  right: 10%;
}

.chatKeyInput {
  width: 60%;
}

.botFab {
  position: fixed;
  bottom: 70px;
  right: 10%;
}

.loader {
  text-align: center;
  top: 25vh;
  position: relative;
}
