
.chat {
  position: relative;
  width: 70%;
  padding: 20px;
  margin: 15px 0;
  left: 20%;
}

.messageList {
  margin: 50px auto;
  width: 70%;
  max-width: 800px;
}

.topFab {
  position: fixed;
  bottom: 140px;
  right: 10%;
}

.chatKeyInput {
  width: 60%;
}

.botFab {
  position: fixed;
  bottom: 70px;
  right: 10%;
}

.loader {
  text-align: center;
  top: 25vh;
  position: relative;
}

@media (max-width: 1200px) {
  .chat {
    left: 25%;
  }
}

@media (max-width: 900px) {
  .chat {
    text-align: center;
    margin: 0;
    width: 100%;
    left: 0;
  }

  .messageList {
    width: 95%;
    padding-right: 50px;
  }

  .chatKeyInput {
    width: 100%;
  }

  .topFab {
    right: 5px;
  }

  .botFab {
    right: 5px;
  }

  .chatLinkBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * + * {
      margin-top: 10px;
    }
  }
}
